* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

<<<<<<< HEAD
html,
body {
    width: 100%;
    height: 100%;
=======


html, body{
  width: 100%;
  height: 100%;
>>>>>>> bcd31165a236608e74b1c4a13e3fae2cf1ccf59b
}

::-webkit-scrollbar {
    display: none;
}

/* Section */
.section-c {
  clear: both;
  margin: 0;
  padding: 0;
}
/* Column */
.col {
  background: #eee;
  display: block;
  float:left;
 
}
.col:first-child { margin-left: 0 !important; }

/* Row */
.row:before,
.row:after { content:""; display:table; }
.row:after { clear:both;}
.row { zoom:1; /* For IE 6/7 */ }

/* Grid */
.grid_1_of_4{ 
  width: 25%;
  height: 100%;
  background-color: pink;
}
.grid_3_of_4{ 
  width: 25%;
  height: 100%;
  background-color: pink;
}
.grid_2_of_4{ 
  width: 25%;
  height: 100%;
  background-color: purple;
}
.grid_4_of_4{ 
  width: 25%;
  height: 100%;
  background-color: purple;
}

/* Full Width below 768 pixels */
@media only screen and (max-width: 768px) {
  .col {  margin: 1% 0 1% 0%; }
  [class*='grid_'] { width: 100%; }
}

/* Header */

.header {
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: -20px;
}

.fullscreen-video-wrap {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    overflow: hidden;
}


.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}


/* Header einde */


/* Navbar Begin */

.navbar {
    display: flex;
    z-index: -1;
    justify-content: space-between;
    align-items: center;
    background-color: #c2c3c7;
}

.logo {
    display: flex;
    padding-left: 20px;
    max-width: 250px;
    max-height: 250px;
}

.logo>img {
    width: 100%;
    height: 100%;
}


/* .navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: lightslategray;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
} */

iframe {
    overflow: hidden;
}

<<<<<<< HEAD
/* Sections */

=======
@media (max-width: 400px) {
    /* .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .nav-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  } */
    .logo {
        display: flex;
        padding-left: 20px;
        max-width: 150px;
        max-height: 150px;
    }
    .logo>img {
        width: 100%;
        height: 100%;
    }
}


/* Navbar einde */


/* Sections */

.section {
    padding: 20px 0;
}

>>>>>>> a898b109c59da4bafc940e63c2852c6593b3d74d
.section-a {
    height: 100vh;
    width: 100vw;
    background: blue;
    color: white;
    top: 0;
    margin: 0;
    padding: 0;
    left: 0;
    z-index: 1;
}

.section-b {
    background: red;
    color: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
}

.section-c {
<<<<<<< HEAD
  background: green;
  color: white;
  height: 50vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
}

.section-d {
  background: pink;
  color: #fff;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0; 
  overflow: hidden;
  z-index: 1;
=======
    background: green;
    color: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
}

.section-d {
    background: pink;
    color: #fff;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
>>>>>>> a898b109c59da4bafc940e63c2852c6593b3d74d
}

.section-e {
<<<<<<< HEAD
    background: orange;
    color: #fff;
    height: 110vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
}

=======
  background: #252526;
  color: #fff;
  height: 55vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  left: 0;
  z-index: 1;
} 

.section-f {
  background: rgb(64, 255, 0);
  color: #fff;
  height: 110vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
} 
>>>>>>> bcd31165a236608e74b1c4a13e3fae2cf1ccf59b


.animation-con  {
  display: flex;
  justify-content: center;
  width: 100%;
}

.animation  {
  height: 120px;
  width: 120px; 
}



.animation img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}



/* Sections einde */


/* Loading screen */

.loader-bg {
    position: fixed;
    z-index: 999999;
    background: #212121;
    width: 100%;
    height: 100%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader .dots {
    padding: 15px;
    margin: 10px;
    display: inline-block;
    transform: scale(0.2);
    animation: anim 1.2s infinite;
}

.dots img {
<<<<<<< HEAD
    width: 130px;
    height: 130px;
=======
  width: 100px;
  height: 100px;
>>>>>>> bcd31165a236608e74b1c4a13e3fae2cf1ccf59b
}

.dots:nth-child(2) {
    animation-delay: 0.2s;
}

.dots:nth-child(3) {
    animation-delay: 0.4s;
}

.dots:nth-child(4) {
    animation-delay: 0.8s;
}

.dots:nth-child(5) {
    animation-delay: 1s;
}

.dots:nth-child(6) {
    animation-delay: 1.2s;
}

@keyframes anim {
    0%,
    100% {
        transform: scale(0.2s);
    }
    50% {
        transform: scale(1);
    }
}

input#un-mute {
    display: none;
}

.unmute img {
    width: 5px;
    height: 1px;
    display: none;
}

input#un-mute:checked~.unmute img {
    display: initial;
}

input#un-mute:checked~.mute img {
    width: 5px;
    height: 1px;
    display: none;
}


/* Loading screen einde */